@import './../../../../../styles/variable.scss';
@import './../../../../../styles/mixin.scss';

.sidebar-menu-blog {
    margin: 0 0 30px;
    @include positionRelative;
    padding: 20px;
    border: 1px solid #e3e5ec;
    height: 250px;
}

.sidebar-title h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid $backgroundColorBlack;
    @include textAlignCenter;
}

.sidebar-menu-list li {
    list-style: none;
    color: $fontColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
}

.sidebar-menu-list a {
    color: $fontColor;
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease-in-out;
}