@import './../../../../styles/variable.scss';
@import './../../../../styles/mixin.scss';

img {
    @include width100;;
}

.main-title h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.main-item {
    padding: 13px 0;
    height: 22%;
}

.image-zoom img {
       @include displayBlock;
    transition: all .3s ease;
}


.image-zoom a {
       @include displayBlock;
       @include overflowHidden;  
}

.image-zoom img:hover {
    transform: scale(1.2);
}

.margin-bottom {
    margin: 5px;
}

.main-item a {
    color: $fontColor;
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease-in-out;
}