#name {
    height: 45px;
    width: 89%;
}

#email,
#number {
    height: 45px;
    width: 41%;
}

#number {
    margin-left: 30px;
}

input {
    border: 1px solid #ededed;
    padding-left: 20px;
    background-color: #fbfbfb;
}

.btn {
    height: 45px;
    width: 260px;
    border: 1px solid #66a55f;
    background-color: #66a55f;
    font-size: 13px;
    color: white;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn:hover {
    background-color: white;
    color: #66a55f;
}

@media only screen and (max-width: 1023.5px) {
    iframe {
        width: 100%;
        height: 300px;
    }
    #ques {
        font-size: 80%;
    }
    #number {
        width: 100%;
        margin-top: 10px;
        margin-left: 0px;
    }
    #content {
        width: 100%;
    }
}