@import './../../styles/variable.scss';
@import './../../styles/mixin.scss';

#childWeb6 {
     @include displayFlex;
    margin-bottom: 30px;
    margin-top: 30px;
}
iframe {
    width: 700px;
    height: 845px;
}
#contact {
    margin-left: 20px;
}
input {
    border: 1px solid #ededed;
    padding-left: 20px;
    background-color: #fbfbfb;
}
#name {
    height: 45px;
    width: 99.5%;
}
#email,#number {
    height: 45px;
    width: 47%;
}
#number {
    margin-left: 30px;
}
#hr {
    width: 55px;
    height: 4px;
    background-color:$backgroundColorBlack;
}
#content {
    border: 1px solid #ededed;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 23px;
    background-color: #fbfbfb;
}
.google {
    color: blue;
}
.google:hover {
    color: blue;
}
#policies {
    color:silver;
}
.btn {
    height: 45px;
    width: 260px;
    border: 1px solid $primaryColor;
    background-color: $primaryColor;
    font-size: 13px;
    color:$backgroundColorWhite;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.btn:hover {
    background-color:$backgroundColorWhite;
    color: $primaryColor;
}

@media only screen and (max-width: 1023.5px) {
    #childWeb6 {
         @include displayFlex;
        flex-direction: column;
    }
    iframe {
         @include width100;
        height: 300px;
    }
    #contact {
        margin-top: 10%;
        margin-right: 2%;
    }
    #ques {
        font-size: 80%;
    }
   #email {
        @include width100;
   }
   #number {
        @include width100;
       margin-top: 10px;
       margin-left: 0px;
   }
   #content {
        @include width100;
   }
}

@media only screen and (min-width: 1023.5px) and (max-width: 1390px) {
    iframe {
        width: 500px;
    }
    #contact {
        margin-left: 3%;
        @include displayBlock;
        width: 55%;
    }
    #email,#number {
        width: 45.5%;
    }
    #number {
        margin-left: 8%;
    }
    #content {
         @include width100;
    }
}