@import './../../styles/variable.scss';
@import './../../styles/mixin.scss';

#childWeb1 {
     @include displayFlex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
#Sline {
    background-color:$backgroundColorBlack;
    width: 5%;
    height: 4px;
}
#search {
    @include width100;
     @include displayFlex;
    justify-content: center;
    align-items: center;
}
#searchBar {
    height: 55px;
    @include width50;
    padding-left: 20px;
    margin-top: 20px;
    background-color: #ededed;
    border: 1px solid #ededed;
}
#searchBtn {
    height: 55px; 
    width: 55px;
    margin-top: 20px;
    background-color:$backgroundColorBlack;
    color:$backgroundColorWhite;
}
#searchBtn:hover {
    color: $primaryColor;
}
#p1 {
    margin-top: 25px;
}
#p2 {
    margin-bottom: 250px;
}
.dataResult {
    margin: 5px 0 0 5px;
    @include width50;
    height: 200px;
    background: $backgroundColorWhite;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    @include overflowHidden;  
    overflow-y: auto;
}
.dataResult::-webkit-scrollbar {
    @include displayNone;
}
.dataItem {
    margin-left: 5px;
}
@media only screen and (max-width: 900px) {
    #Sline {
        width: 20%;
    }
    #searchBar {
        width: 70%;
    }
    p {
        @include textAlignCenter;
        padding: 0rem 1rem;
    }
}
