$primaryColor: #66a55f;
$fontColor: #252a2b;
$fontColorRed: red;
$colorDiscount: rgb(151, 151, 151);
$backgroundColorWhite: white;
$backgroundColorBlack: black;
$backgroundColorContent: #fefefe;
$backgroundColorNav: rgb(209, 209, 209);
$backgroundColorWhiteMoreDark: #f3f3f3;
$backgroundColorBlackOpacity:  rgba(0, 0, 0, 0.8);
$backgroundColorBlackOpacityZero:  rgba(0, 0, 0, 0.0);
$colorDiscountRgb:  rgb(206, 206, 206);