.box {
    margin: 30px;
    border: 1px solid grey;
    width: 20%;
    height: 40%;
}

#catalogue {
    margin-top: 18px;
    text-align: center;
}

.hr {
    margin: auto;
    width: 65px;
    background-color: #000;
    height: 3px;
}

.title {
    text-align: center;
}

.container {
    display: flex;
}

.content {
    left: 30px;
    padding: 40px;
}