.box-header {
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.header-sort {
    margin-top: 135px;
    padding: 2px 20px;
}

.box-price {
    /* border: 1px solid black; */
    padding: 4px 0;
    color: red;
}

.box-price-discount {
    /* border: 1px solid black; */
    padding: 4px 0;
    color: #252a2b;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
    background-color: #66a55f !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
    background-color: white !important;
}

.box-discount {
    border: 1px solid #DD4745;
    /* background-color: #DD4745; */
    background: linear-gradient(to top, #cc0000 0%, #ff9999 100%);
    padding: 4px 10px;
    color: white;
    border-radius: 100%;
    font-weight: bold;
}

.link-item {
    text-decoration: none;
    color: black;
}

.link-item:hover {
    text-decoration: none;
    color: #66a55f;
}

.total-product {
    margin-bottom: 95%;
}

.button-product {
    width: 94%;
}

.Mui-disabled {
    width: 94%;
}

.css-1yjd39a-MuiPaper-root {
    width: 90% !important;
    height: 95% !important;
}

.css-1yjd39a-MuiPaper-root img {
    width: 80% !important;
    height: 60% !important;
    margin-left: 7%;
}

.css-h93ljk-MuiTypography-root {
    font-size: 1rem !important;
}

.css-18k87ye-MuiTypography-root {
    padding-bottom: -1rem !important;
    font-size: 0.75rem !important;
}

.css-1equabv-MuiGrid-root {
    margin-left: px !important;
}

.style-noname {
    display: flex;
    gap: 20px;
}

@media only screen and (max-width: 768px) {
    .box-header .product a {
        margin-left: 55px;
    }

    .header-sort {
        margin-top: 50px;
    }

    .css-1yjd39a-MuiPaper-root {
        width: 95% !important;
        /* height: 95%!important; */
    }

    .css-1yjd39a-MuiPaper-root img {
        width: 80% !important;
        height: 50% !important;
        margin: 0;
        padding: 0;
    }

    .css-h93ljk-MuiTypography-root {
        font-size: 1rem !important;
    }

    .css-18k87ye-MuiTypography-root {
        /* padding-bottom: -1.25rem!important; */
        font-size: 0.75rem !important;
    }

    .total-product {
        margin-bottom: 385%;
    }

    .button-product {
        margin-top: 15% !important;
    }

    .Mui-disabled {
        margin-top: 15% !important;
    }

}

@media only screen and (max-width: 576px) {
    .box-header .product a {
        font-size: 1rem;
        margin-left: 0;
    }

    .header-sort {
        width: 30%;
        font-size: 10px;
    }

    .css-h93ljk-MuiTypography-root {
        font-size: 0.6rem !important;
    }

    .css-18k87ye-MuiTypography-root {
        /* padding-bottom: -1.25rem!important; */
        font-size: 0.4rem !important;
    }

    .button-product {
        font-size: 0.3rem !important;
    }

    .Mui-disabled {
        font-size: 0.3rem !important;
    }

    .style-noname {
        gap: 8px;
    }
    .total-product {
        margin-bottom: 335%;
    }
}