.new1-content h1 {
    margin: 20px 0;
    font-size: 24px;
    font-weight: 600;
}

.new1-img {
    width: 80%;
}

.new1-info {
    font-weight: 600;
}

.new1-table {
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    padding: 8px 30px;
    margin: 15px 0 20px;
    width: 100%;
    border-radius: 6px;
}

.new1-table ol li {
    margin: 6px 0 0;
}

.new1-table li a {
    color: #66a55f;
}

.new1-table-title {
    font-weight: 700;
    font-size: 16px;
}