.active {
    background-color: #f5f5f5;
    height: 40px;
    width: 100%;
    padding-top: 10px;
}

#active {
    display: flex;
    list-style: none;
    margin-left: 75px;
    font-size: small;
}

#intro {
    color: gray;
    margin-left: 10px;
}

#container3 {
    width: 100%;
    height: 600px;
}

#pageCatalogue3 {
    position: relative;
    top: -175px;
    left: 75px;
    border: 1px solid #e5e4e9;
    width: 310px;
    height: 280px;
    display: inline-block;
}

#pagecatalogue {
    margin-top: 18px;
    text-align: center;
}
#catalogue {
    font-size: 20px;
}
#ul1 {
    list-style: none;
    margin-left: 30px;
}
h4 {
    font-size: 15px;
    margin-left: 25px;
}
#ul2 {
    margin-left: 40px;
}
#Restore {
    width: 1000px;
    display: inline-block;
    position: relative;
    left: 100px;
    top: 30px;
}
.ul3 {
    list-style: initial;
    margin-left: 30px;
}
ol {
    margin-left: 20px;
}

#img3 {
    width: 310px;
    height: 210px;
    position: relative;
    top: -140px;
    left: 75px;
    overflow: hidden;
    -webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	display: -webkit-box;
}

img {
    display: -webkit-box;
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
}
img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2); 
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    cursor: pointer; 
}

@media only screen and (max-width: 1023.5px) {
    img {
        display: none;
    }
    #active {
        font-size: 12px;
        margin-left: 8%;
    }
    #childWeb3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 700px;
    }
    #pageCatalogue3 {
        display: block;
        margin: auto;
        width: 85%;
        left: 0px;
        height: fit-content;
        margin-top: 200px;
    }
    #ul1 {
        margin-left: 10%;
    }
    h2 {
        text-align: center;
    }
    #hr {
        margin: auto;
        width: 65px;
        background-color: #000;
        height: 3px;
    }
    #Restore {
        display: block;
        margin: auto;
        margin-top: -150px;
        left: 0px;
        width: 95%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1329px) {
    #childWeb3 {
        margin-bottom: 150px;
    }
    #pageCatalogue3 {
        top: 40px;
    }
    #Restore {
        width: 60%;
        position: relative;
        left: 35%;
        top: -220px;
        display: block;
        padding-left: 50px;
    }
    #img3 {
        position: relative;
        top: -500px;
    }
}