@import "./styles/variable.scss";
@import "./styles/mixin.scss";

/* Start setup defaults */
* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  @include paddingZero;
  box-sizing: border-box;
}

.fa {
  font-family: "FontAwesome";
}

html,
body {
  border: 0;
  background-color: $backgroundColorWhite;
}

html {
  font-size: 100%;
}

img {
  max-width: 100%;
}

body {
  line-height: 1.4;
  font-size: 14px;
  color: $fontColor;
  overflow-x: hidden;
  background: $backgroundColorWhite;
  position: initial !important;
}

/* 1.2 - HTML5 Elements */
article,
aside,
details,
figcaption,
figure,
dialog,
footer,
header,
hgroup,
menu,
nav,
section {
  @include displayBlock;
}

/* 1.4 - Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $fontColor;
  margin: 0 0 13px 0;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 13px;
  line-height: 18px;
}

h5 {
  font-size: 12px;
  line-height: 18px;
}

h6 {
  font-size: 10px;
  line-height: 18px;
}

p {
  margin: 0 0 10px 0;
  line-height: 21px;
}

/* 1.5 - Links and Buttons */
a {
  color: $fontColor;
  text-decoration: none;
  outline: none;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
  color: $primaryColor;
  text-decoration: none;
  outline: none;
}

a:active {
  outline: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: $fontColor;
  line-height: 1.1;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: $primaryColor;
}

/* End setup defaults */

/* Start Header */
#topbar {
  background-color: $primaryColor;
  color: $backgroundColorWhite;
  height: 4.4vh;
  padding-top: 0.25%;
  font-size: 0.8rem;
}

#topbar:hover {
  background-color: $backgroundColorWhite;
  color: $primaryColor;
  border: 1px solid $primaryColor;
}

.logo {
  height: 10vh;
  padding-top: 1%;
  width: 90%;
  @include displayFlex;

  .header-logo {
    font: {
      size: 2rem;
      weight: 800;
    }
  }

  .fa {
    font-size: 1.4rem;
    padding-top: 10px;
    @include cursorPointer;
  }

  .icon {
    i {
      padding: 0 10px;
    }

    i:hover {
      color: $primaryColor;
    }
  }
}

.navbar {
  font-size: 1.1rem;
}

.line1 {
  background-color: $backgroundColorBlack;
  height: 2px;
}

.line2,
.line3,
.line4,
.line5,
.line6 {
  background-color: $backgroundColorBlack;
  height: 2px;
  @include displayNone;
}

.home2:hover .line2 {
  @include displayBlock;
}

.home3:hover .line3 {
  @include displayBlock;
}

.home4:hover .line4 {
  @include displayBlock;
}

.home5:hover .line5 {
  @include displayBlock;
}

.home6:hover .line6 {
  @include displayBlock;
}

/* End Header */

/* Start Body */
/* Position the image container (needed to position the left and right arrows) */
.container-slide {
  @include positionRelative;
}

/* Hide the images by default */
.mySlides {
  @include displayNone;
}

/* Next & previous buttons */
.prev,
.next {
  @include cursorPointer;
  @include positionAbsolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: $backgroundColorWhite;
  font: {
    weight: bold;
    size: 20px;
  }
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.prev {
  @include leftZero;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slick-arrow {
  @include cursorPointer;
  @include positionAbsolute;
  top: 50%;
  width: 50px;
  height: 100px;
  padding: 16px;
  margin-top: -50px;
  color: $backgroundColorWhite;
  font: {
    weight: bold;
    size: 0;
  }
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  z-index: 1;
}

.slick-arrow:hover {
  background-color: $backgroundColorBlackOpacity;
}

/* Position the "next button" to the right */
.slick-prev {
  @include leftZero;
  border-radius: 0 3px 3px 0;
}

.slick-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: $backgroundColorBlackOpacity;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  @include positionAbsolute;
  top: 0;
}

.img-slide {
  @include width100;
  height: 70vh;
}

/* Container for image text */
.caption-container {
  @include textAlignCenter;
  background-color: #222;
  /* padding: 2px 16px; */
  padding: 12px 16px 2px 16px;
  color: $backgroundColorWhite;
}

.row-slide:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  @include overflowHidden;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  @include cursorPointer;
  transition: 0.4s;
  @include overflowHidden;
  @include paddingZero;
  margin: 0;
  height: 100%;
}

.activeSlide,
.demo:hover {
  opacity: 1;
  transform: scale(1.2);
}

/* New Product*/
.product {
  font: {
    weight: 500;
    size: 2.5rem;
  }
  padding: 5% 0;
  @include textAlignCenter;
}

.product-top {
  @include displayFlex;
  flex-wrap: wrap;
  @include width100;
  height: 50vh;
  list-style: none;
  margin-bottom: 5%;
}

.product-list {
  width: 16.66%;
  margin-bottom: 2%;
}

.discount {
  @include leftZero;
  color: $fontColorRed;
  border: 1px solid $colorDiscountRgb;
  width: 20%;
  @include textAlignCenter;
}

.discount-opacity {
  @include leftZero;
  color: $fontColorRed;
  border: 1px solid $colorDiscountRgb;
  width: 20%;
  @include textAlignCenter;
  opacity: 0;
}

.discount-5 {
  border: 1px solid $backgroundColorWhite;
  color: $backgroundColorWhite;
}

.img-detail {
  /*  @include width100;
    height: 80%;
    @include cursorPointer;
    @include overflowHidden;   */
  @include overflowHidden;
}

.img-detail-1,
.img-detail-2,
.img-detail-3,
.img-detail-4,
.img-detail-5,
.img-detail-6 {
  @include width100;
  height: 80%;
  @include cursorPointer;
  transition: 0.4s;
}

.img-detail-1:hover,
.img-detail-2:hover,
.img-detail-3:hover,
.img-detail-4:hover,
.img-detail-5:hover,
.img-detail-6:hover {
  transform: scale(1.2);
}

.name {
  padding-left: 0;
  margin-left: 0;
  @include fontSize1rem;
}

.price {
  @include fontSize1rem;
  font-weight: 300;
  padding-top: 3%;
}

.price-red {
  color: $fontColorRed;
}
.price-red-no-discount {
  color: $colorDiscount;
}

.price-cross {
  font: {
    decoration: line-through $colorDiscount;
    size:  0.8rem;
  }
}
.price-cross-opacity {
  @extend .price-cross;
  opacity: 0;
}

.price-red-5 {
  color: $backgroundColorBlack;
}

.product-img {
  @include displayFlex;
  /* margin-bottom: 1%; */
}

.breakfast,
.france,
.healthy {
  @include positionRelative;
  transition: 0.8s;
  @include cursorPointer;
}

.product-img-scale {
  @include overflowHidden;
}
.container-banner-img {
  /* background-image: url("img/collection_banner.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.product-img-scale-1,
.product-img-scale-2,
.product-img-scale-3 {
  transition: 1.6s;
}

.product-img-scale-1:hover,
.product-img-scale-2:hover,
.product-img-scale-3:hover {
  transform: scale(1.2);
}

.france {
  margin: 0 10px;
}

.word1,
.word2,
.word3 {
  @include positionAbsolute;
  color: $backgroundColorWhite;
  left: 10%;
}

.word1 {
  top: 35%;
  cursor: default;
}

.word2 {
  top: 50%;
  cursor: default;
  margin-left: 5%;
}

.word3 {
  top: 65%;
  color: $primaryColor;
  background-color: $backgroundColorWhite;
  width: 35%;
  height: 15%;
  @include textAlignCenter;
  padding-top: 3%;
  transition: 0.6s;
}

.word3:hover {
  background-color: $backgroundColorBlackOpacityZero;
  color: $backgroundColorWhite;
  border: 1px solid$backgroundColorWhite;
}

/* Best Product*/
.product-best {
  font: {
    weight: 500;
    size:  2.5rem;
  }
  padding: 5% 0;
  @include textAlignCenter;
}

.product-detail-2 {
  margin-bottom: 30%;
}

.about {
  @include displayFlex;
  flex-wrap: wrap;
  background-color: $backgroundColorWhiteMoreDark;
  height: 90vh;
}

.about-img {
  @include overflowHidden;
  @include positionRelative;
  @include cursorPointer;
  @include width50;
}

.about-img-scale-1 {
  transition: 1.6s;
  filter: brightness(0.5);
  height: 90vh;
  @include width100;
  /* background-image: url("img/home_about_image.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.about-img-scale-1:hover {
  transform: scale(1.2);
}

.about-img-word2 {
  @include positionAbsolute;
  color: $backgroundColorWhite;
  left: 10%;
  top: 30%;
  font: {
    weight: 900;
    size:  4rem;
  }
}

.about-img-word3 {
  @include positionAbsolute;
  top: 50%;
  left: 10%;
  color: $primaryColor;
  background-color: $backgroundColorWhite;
  width: 35%;
  height: 9%;
  @include textAlignCenter;
  padding-top: 1.5%;
  transition: 0.6s;
}

.about-img-word3:hover {
  background-color: $backgroundColorBlackOpacityZero;
  color: $backgroundColorWhite;
  border: 1px solid$backgroundColorWhite;
}

.about-word {
  padding: 6% 10% 5% 5%;
  color: $backgroundColorBlack;
  font-weight: 500;
  @include width50;
}

.black-word {
  color: $backgroundColorBlack;
  font-weight: 900;
}

/* End Body */

/* Start Footer */
.footer .container-fluid {
  @include paddingZero;
}

.footer .container-fluid .col-md-12 {
  @include paddingZero;
}

.foot-up {
  background-color: $backgroundColorWhiteMoreDark;
  height: 16vh;
  padding-top: 20px;
  @include fontSize1rem;
}

.foot-icon-email {
  padding-top: 20px;
}

.foot-icon i {
  font-size: 1.6rem;
  padding-right: 10px;
}

.input-email {
  height: 6vh;
  border: none;
}

.foot-input-email {
  height: 6vh;
  background-color: $primaryColor;
  color: $backgroundColorWhite;
  padding-top: 8px;
  padding-left: 3%;
  transition: 0.5s;
  margin-top: 8px;
  @include cursorPointer;
}

.foot-input-email:hover {
  background-color: $backgroundColorWhite;
  color: $primaryColor;
  border: 1px solid $primaryColor;
}

.foot-register {
  /* margin-left: 0; */
  /* padding-top: 5%; */
  margin-top: 1.7%;
}

.phone-icon {
  font-size: 1.6rem;
}

.hotline {
  color: $fontColorRed;
  @include cursorPointer;
}

.foot-middle {
  height: 40vh;
  /* padding: 6vh 0; */
  /* width: 90%;
  padding-left: 5%; */
}

.foot-middle {
  padding-top: 3%;
  padding-bottom: 20%;
}

.introdution a img {
  height: 55px;
  width: 150px;
  @include displayBlock;
  /* margin: 15px 0; */
  background-size: cover;
  @include overflowHidden;
}

.foot-icon i {
  width: 40px;
  height: 40px;
  padding: 2% 2% 2% 1.5%;
  border: 1px solid grey;
  border-radius: 5px;
  @include cursorPointer;
}

.fa-facebook:hover {
  color: $primaryColor;
  border: 1px solid $primaryColor;
}

.fa-twitter:hover {
  color: $primaryColor;
  border: 1px solid $primaryColor;
}

.fa-instagram:hover {
  color: $primaryColor;
  border: 1px solid $primaryColor;
}

.fa-google:hover {
  color: $primaryColor;
  border: 1px solid $primaryColor;
}

.fa-youtube-play:hover {
  color: $primaryColor;
  border: 1px solid $primaryColor;
}

.infomation i {
  font-size: 1.5rem;
}

.address {
  @include displayFlex;
}

.address i {
  padding-right: 30px;
}

.phone i {
  padding-right: 20px;
}

.fax i {
  padding-right: 18px;
}

.email i {
  padding-right: 18px;
}

.link span {
  @include displayBlock;
  padding-bottom: 8px;
}

.support span {
  @include displayBlock;
  padding-bottom: 10px;
}

.foot-down {
  height: 10vh;
  padding-top: 3vh;
  border-top: 1px solid $backgroundColorNav;
}

/* End Footer */

/* The Modal (background) */
.modal {
  @include displayNone;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  @include leftZero;
  top: 0;
  @include width100;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  @include positionRelative;
  background-color: $backgroundColorContent;
  margin: auto;
  @include paddingZero;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.blank-search {
  width: 40%;
}

/* The Close Button */
.close,
.close1,
.close2 {
  color: $backgroundColorBlack;
  float: right;
  font: {
    weight: bold;
    size:  28px;
  }
}

.close:hover,
.close:focus {
  color: $backgroundColorBlack;
  text-decoration: none;
  @include cursorPointer;
}

.close1:hover,
.close1:focus {
  color: $backgroundColorBlack;
  text-decoration: none;
  @include cursorPointer;
}

.close2:hover,
.close2:focus {
  color: $backgroundColorBlack;
  text-decoration: none;
  @include cursorPointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: $backgroundColorWhite;
  color: $backgroundColorWhite;
}

.modal-header h2 {
  @include textAlignCenter;
  font-size: 1.6rem;
  padding-top: 14px;
}

.modal-body {
  padding: 2px 16px;
}

.search {
  @include width100;
  padding: 0 10% 0 20%;
}

.search input {
  background-color: rgb(230, 227, 227);
}

.search i {
  font-size: 1.2rem;
  padding: 6px 10px 6px 10px;
  @include cursorPointer;
  height: 38px;
}

.search i:hover {
  border: 1px solid$backgroundColorBlack;
  border-radius: 5px;
}

.policy {
  /* color: blue!important; */
  font-size: 0.8rem;
}

.user-title {
  @include displayFlex;
  @include width100;

  h3 {
    @include width80;
    padding: 10% 0 5% 0;
    text-align: right;
  }

  span {
    padding-left: 20%;
  }
}

.total h4 {
  padding-left: 20%;
}

input[type="text"],
input[type="password"] {
  @include width100;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
}

button {
  background-color: $primaryColor;
  color: $backgroundColorWhite;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  @include cursorPointer;
  @include width100;
}

button:hover {
  background-color: $backgroundColorWhite;
  color: $primaryColor;
  border: 1px solid $primaryColor;
}

.container {
  padding: 8px 16px;
}

span.psw {
  float: right;
}

.content {
  background-color: $backgroundColorContent;
  margin: 1% auto 5% auto;
  border: 1px solid #888;
  @include width80;
}

#warning1 {
  color: $fontColorRed;
  @include displayNone;
  padding-bottom: 1%;
}

#warning2 {
  color: $fontColorRed;
  @include displayNone;
  padding-bottom: 1%;
}

#login1 {
  @include displayNone;
  @include width50;
  margin: 5% 50%;
  transform: translateX(-50%);
  @include textAlignCenter;
}

#login1 img {
  width: 30%;
  height: 40%;
  margin: 10% 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.link-register {
  @include textAlignCenter;
}

.close2 {
  padding-right: 2%;
}

.modal-header-cart {
  border-bottom: 1px solid $backgroundColorNav;
}

.cart-head h3 {
  @include textAlignCenter;
  padding-top: 5%;
  padding-left: 10%;
}

.fa-cart-plus {
  font-size: 5rem;
  color: $primaryColor;
  padding-left: 45%;
  @include width100;
}

.word-cart {
  @include textAlignCenter;
  padding: 3% 0 0 5%;
}

.count-money {
  padding: 5% 0 5% 0;
}

.money-red {
  float: right;
  color: $fontColorRed;
  @include fontSize1rem;
  font-weight: 900;
}

.btn-cart {
  @include displayFlex;
  /* padding: 0 5% 2% 5%; */
}

.money-cart1,
.money-cart2 {
  width: 40%;
}

.money-cart1 {
  margin-right: 15%;
}

.fa-bars,
.search-input {
  @include displayNone;
}

.navlist {
  @include positionAbsolute;
  height: 80%;
  @include width100;
  top: 15vh;
  @include leftZero;
  z-index: 1;
  background-color: $backgroundColorWhite;
  border-top: 1px solid $backgroundColorNav;
  font: {
    weight: 600;
    size:  1.5rem;
  }
  @include textAlignCenter;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0;
  visibility: hidden;

  .navlist ul {
    li {
      padding: 1%;
      @include cursorPointer;
    }

    li:hover {
      color: $primaryColor;
    }
  }
}

.line-menu {
  background-color: $backgroundColorNav;
  height: 1px;
  margin-top: 2%;
}

.active {
  opacity: 1;
  visibility: visible;
}

#myModal3 {
  @include displayNone;
}

.modal-get-email {
  /* background-image: url("img/popup_contact_bkg.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  @include width50;
  height: 60vh;
  margin-top: 100px;
}

.modal-header-email {
  padding-top: 50px;
  background-color: $backgroundColorWhite;
  opacity: 0.8;
  width: 60%;
  height: 100%;
  margin-left: 40%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  @include positionRelative;

  h2 {
    @include textAlignCenter;
  }

  h2,
  h4 {
    margin-left: 4%;
    margin-right: 12%;
    margin-top: 5%;
  }

  ul {
    margin-left: 12%;
  }
}

.close3 {
  font-size: 2rem;
  background-color: gray;
  width: 10%;
  padding: 0 3%;
  margin-left: 90%;
  border-radius: 50%;
  opacity: 0.6;
  @include cursorPointer;
}

.close3:hover {
  opacity: 1;
  color: $backgroundColorWhite;
}

.input-email-popup {
  background-color: $backgroundColorWhite;
  width: 48% !important;
  margin-left: 47% !important;
  margin-top: 33% !important;
  /* margin: 0 55%; */
  @include positionAbsolute;
}

.foot-input-email-popup {
  background-color: $primaryColor;
  color: $backgroundColorWhite;
  width: 48%;
  height: 40px;
  margin: 43% 10% 0 47%;
  padding: 10px 0 0 0;
  @include textAlignCenter;
  @include cursorPointer;
  @include positionAbsolute;
  transition: 0.5s;
}

.foot-input-email-popup:hover {
  background-color: $backgroundColorWhite;
  color: $primaryColor;
  border: 1px solid $primaryColor;
}

.slick-dots {
  top: 71vh;
  @include overflowHidden;

  li {
    width: 13.5vw;
    height: 20vh;
    @include overflowHidden;
    /* padding: 200px 0 0 0; */
    margin: 0;
    @include paddingZero;
    box-sizing: border-box;

    a {
      margin: 0;
      @include paddingZero;
      @include overflowHidden;
      box-sizing: border-box;

      img {
        margin: 0;
        @include paddingZero;
        @include overflowHidden;
        box-sizing: border-box;
      }
    }
  }
}

.slick-slider {
  height: 85vh;
  /* width: 90vw;
  margin:   0 0 8vh -5vw; */
  /* margin-bottom: 30px; */
}
.sort-title {
  @include fontSize1rem;
  font-weight: bold;
}

/* Media screen */
@media only screen and (max-width: 768px) {
  .modal-content {
    width: 60%;
    justify-content: center;
    justify-items: center;
    /* margin-left: 20%;
     margin-top: -5%; */
  }

  .user-title h3 {
    margin-left: 10%;
    /* padding-right: 5%; */
    @include textAlignCenter;
    /* justify-content: center; */
  }

  .fa-bars,
  .search-input {
    @include displayBlock;
    /* padding-top: 8%; */
  }

  .search-input-btn {
    padding-left: 10%;

    input {
      background-color: rgb(247, 247, 247);
      /* padding-top: 1%; */
    }

    i {
      padding: 0.7% 6% 6.3% 6%;
      font-size: 1.6rem;
      /* margin-top: 9%; */
    }

    i:hover {
      border: 1px solid $primaryColor;
      border-radius: 5px;
      color: $primaryColor;
      height: 6.2vh;
      @include cursorPointer;
      /* padding-bottom: 4%; */
    }
  }

  .fa-search1 {
    @include displayNone;
  }

  .header-logo a {
    /* height: 30vh;
      @include width80; */
    font-size: 1.4rem;
    /* padding-bottom: 2%; */
  }

  .navbar {
    @include displayNone;
  }
  .footertotal {
    padding-top: 40%;
  }
  .foot-icon-email {
    width: 100vw;
  }

  .foot-up {
    height: 25vh;
  }

  .foot-icon-email {
    @include textAlignCenter;
    padding: 1% 0 2% 0;
  }

  .foot-input-email,
  .foot-register {
    @include textAlignCenter;
    height: 4vh;
  }

  .col-md-6 {
    @include width50;
  }

  .foot-middle {
    height: 40vh;
    /* padding: 6vh 0; */
    /* width: 90%;
      padding-left: 5%; */
  }

  .introdution,
  .infomation,
  .link,
  .support {
    margin: 0 5% 0% 5%;
  }

  .foot-down {
    margin-top: 50%;
  }

  .product-detail {
    padding-left: 2%;
    padding-bottom: 65%;
  }

  .product-top {
    /* flex-wrap: wrap; */
    padding-top: 5%;
  }

  .product-list {
    width: 33%;
    margin-bottom: 5%;
  }

  .product-img {
    flex-wrap: wrap;
    /* margin: 0 auto 5% 10%; */
    /* justify-items: center; */
    justify-content: center;
    /* margin-top: 125%;
      margin-bottom: -110%; */
  }

  /* .breakfast,.france,.healthy{
       @include width100;
  } */
  .france {
    margin: 10px 0;
  }

  .product-detail-2 {
    margin-bottom: 100%;
  }

  .about {
    margin-bottom: 75%;
  }

  .about-img,
  .about-word {
    @include width100;
    background-color: $backgroundColorWhiteMoreDark;
  }

  .about-img-word2 {
    left: 21%;
    /* transform: translateX(-50%); */
  }

  .about-img-word3 {
    left: 31%;
    height: vh;
  }

  .modal-header-email {
    /* background-color:$backgroundColorWhite;
  opacity: 0.8; */
    @include width100;
    /* height: 100%; */
    margin-left: 0;
    border-radius: 5px;
    /* border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  @include positionRelative; */
  }

  .close3 {
    /* font-size: 2rem;
      background-color: gray;
      width: 10%;
      padding: 0 3%; */
    margin-left: 89%;
    /* border-radius: 50%;
      opacity: 0.6;
      @include cursorPointer; */
  }

  .modal-header-email h2,
  h4 {
    /* margin-left: 4%; */
    margin-right: 4%;
  }

  .input-email-popup {
    /* background-color:$backgroundColorWhite; */
    width: 80% !important;
    margin-left: 10% !important;
    margin-top: 38% !important;
    /* margin: 0 55%; */
    /* @include positionAbsolute; */
  }

  .foot-input-email-popup {
    /* background-color: $primaryColor; */
    /* color:$backgroundColorWhite; */
    @include width80;
    height: 40px;
    margin: 68% 10% 0 10%;
    /* padding: 10px 0 0 0;
      @include textAlignCenter;
      @include cursorPointer;
      @include positionAbsolute;
      transition: 0.5s; */
  }

  .logo {
    height: 5vh;
  }

  .img-slide {
    height: 30vh;
  }

  .slick-dots {
    @include displayNone;
  }

  .slick-thumb {
    @include displayNone;
  }

  .demo {
    @include displayNone;
  }

  .slick-arrow {
    top: 65%;
  }

  .slick-dots {
    top: 65%;
  }

  .slick-slider {
    height: 30vh;
  }

  .product-detail {
    height: 65vh;
  }
  .modal-get-email {
    height: 40vh;
    margin-top: 250px;
  }
}

@media only screen and (max-width: 576px) {
  .modal-content {
    @include width80;
    justify-content: center;
    justify-items: center;
    /* margin-left: 20%;
     margin-top: -5%; */
  }

  .user-title h3 {
    padding-left: 25%;
    padding-right: 5%;
    @include textAlignCenter;
    /* justify-content: center; */
  }

  .header-logo a {
    /* height: 30vh;
      @include width80; */
    @include fontSize1rem;
    /* padding-bottom: 2%; */
  }

  .search-input-btn {
    input {
      @include width80;
    }

    i {
      padding: 2.4% 6% 8.3% 6%;
      font-size: 1.2rem;
      /* margin-top: 9%; */
    }

    i:hover {
      border: 1px solid $primaryColor;
      border-radius: 5px;
      color: $primaryColor;
      /* height: 6.4vh; */
      @include cursorPointer;
      /* padding-bottom: 4%; */
    }
  }

  .foot-up,
  .foot-middle {
    @include displayNone;
  }

  .foot-down {
    margin-top: 200%;
  }

  .product-top {
    /* flex-wrap: wrap; */
    padding-top: 5%;
  }

  .product-list {
    @include width50;
    margin-bottom: 10%;
  }

  .product-img {
    margin-left: 1%;
    margin-top: 120%;
    margin-bottom: -130%;
  }

  .breakfast,
  .france,
  .healthy {
    @include width100;
  }

  .france {
    margin: 10px 0;
  }

  .product-best {
    margin-top: 135%;
  }

  .product-detail-2 {
    margin-top: -10%;
    margin-bottom: 360%;
  }

  .about-img-word2 {
    left: 8%;
    font-size: 3rem;
    /* transform: translateX(-50%); */
  }

  .about-img-word3 {
    height: 5vh;
  }

  .text-right {
    @include displayFlex;
    padding: 10px;
  }

  .logo .header-logo {
    font: {
      weight: 800;
      size:  0.5rem;
    }
  }

  .footertotal {
    padding-top: 1%;
  }
  .modal-get-email {
    height: 55vh;
  }
  .sort-title {
    font-size: 0.5rem;
  }
}
